# Get API_ID and API_HASH from https://my.telegram.org
API_ID=
API_HASH=

# Get BOT_TOKEN from @BotFather on Telegram
BOT_TOKEN=

# Log Group Chat ID (must start with -100). Add your bot and promote as Admin with full rights.
LOGGER_ID=

# Get MongoDB Database URI from https://cloud.mongodb.com
MONGO_DB_URI=

# Your Telegram User ID (Numeric). Get it from @TheChampuBot on Telegram using /id command.
OWNER_ID=7006524418

# Pyrogram v2 String Session for Assistant Account. Get it from Telegram @StringFatherBot
STRING_SESSION=

# Get your own custom API_KEY and API_URL from Telegram bot: @SHRUTIAPIBOT
# Default API_KEY and API_URL are given below (you can generate your own API key from @SHRUTIAPIBOT):
API_KEY=ShrutiBotsgBjhtWgeANS8EU8c0vsk
API_URL=https://shrutibots.site